@import "./../../styles/variables";

.filter {
    width: 100%;
    background-color: $darkModeDarkGray;
    display: flex;
    align-items: center;
    justify-content: center;
    
    &Label {
        background-color: $darkModeGray;
        padding: 20px;
        margin-right: 5px;
        border-radius: 8px;
        display: flex;
        gap: 10px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        

        &Title {
            display: flex;
            font-size: 30;
            margin-left: 20px;
            margin-right: 20px;
            font-weight: 700;
            color: $white;
    
        }
    }
}



@media only screen and (max-width:1100px){
    .filter {
        &Content{
        // padding:1rem;
        grid-template-columns: 1fr; 
    }}
}